<h1>Here's the jobs!</h1>
<form action = "job-search" method = "post">
  <input type = "text" name = "job-title">
  <input type = "text" name = "job-location">
  <input type = "submit" name = "submit">
</form>

<!--

Job Title
Company Name
Location
Post Date
Link to posting

-->